worker_processes 1;

events { worker_connections 1024; }

http {

    sendfile on;

    upstream organizr {
        server organizr:80;
    }

    upstream plex {
        server plex:32400;
    }

    upstream sonarr {
        server sonarr:8989;
    }

    upstream radarr {
        server plex:7878;
    }

    upstream tautulli {
        server tautulli:8181;
    }

    upstream ombi {
        server ombi:3579;
    }

    upstream transmission {
        server transmission:8080;
    }

    server {
        server_name ${NGINX_HOST} ${NGINX_HOST}.lan;
        #listen ${NGINX_PORT} default_server;
        #listen [::]:${NGINX_PORT} default_server;
        server_name ${NGINX_HOST} ${NGINX_HOST}.lan;
        listen 80;

        location / {
            proxy_pass         http://organizr;
            proxy_redirect     off;
            proxy_set_header   Host ${DOLLAR}host;
            proxy_set_header   X-Real-IP ${DOLLAR}remote_addr;
            proxy_set_header   X-Forwarded-For ${DOLLAR}proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Host ${DOLLAR}server_name;
        }
    }
}